Page
{
    background-color: deepskyblue;
    color: #fefefe;
}

.wi
{
    font-family: "Weather Icons";
}

.ff
{
    font-family: "iconvault";
}

@keyframes spin
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}