#current-condition-container
{
    padding-top: 10;
    orientation: horizontal;
    horizontal-align: center;
}

#degree-symbol
{
    font-size: 70;
    vertical-align: top;
}

#current-condition-summary
{
    horizontal-align: center;
    font-size: 25;
    margin-bottom: 10;
}

.clear-day
{
    background-image: url('~/images/clear-day.jpg');
    background-size: cover;
    background-position: right;
}
.clear-night
{
    background-image: url('~/images/clear-night.jpg');
    background-size: cover;
    background-position: left;
}
.rain
{
    background-image: url('~/images/rain.jpg');
    background-size: cover;
    background-position: center;
}
.snow
{
    background-image: url('~/images/snow.jpg');
    background-size: cover;
    background-position: left;
}
.sleet
{
    background-image: url('~/images/sleet.jpg');
    background-size: cover;
    background-position: left;
}
.wind
{
    background-image: url('~/images/wind.jpg');
    background-size: cover;
    background-position: left;
}
.fog
{
    background-image: url('~/images/fog.jpg');
    background-size: cover;
    background-position: center;
}
.cloudy
{
    background-image: url('~/images/cloudy.jpg');
    background-size: cover;
    background-position: center;
}
.partly-cloudy-day
{
    background-image: url('~/images/partly-cloudy-day.jpg');
    background-size: cover;
    background-position: right;
}
.partly-cloudy-night
{
    background-image: url('~/images/partly-cloudy-night.jpg');
    background-size: cover;
    background-position: right;
}

.metric-symbol
{
    font-size: 30;
    horizontal-align: center;
}

.current-condition-detail
{
    background-color: rgba(150, 150, 150, 0.3);
    margin: 2;
    text-align: center;
    opacity: 0;
    
    animation-duration: 2s;
    animation-name: fadein;
}

.current-condition-detail-icon
{
    font-size: 40;
}

.current-condition-detail-text
{
    font-size: 20;

}

#daily-forecast-container,
#hourly-forecast-container
{
    background-color: rgba(150, 150, 150, 0.3);
    margin: 2, 4, 4, 4;
}

#daily-forecast-container
{  
    animation-duration: 2s;
    animation-name: fadein;  
}

RadCartesianChart
{
    background-color: transparent;
}

.fadein-chart
{
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadein;
    animation-fill-mode: forwards;
}

.fadeout-chart
{
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeout;
    animation-fill-mode: forwards;
}

@keyframes fadein
{
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeout
{
    from { opacity: 1; }
    to { opacity: 0; }
}